/* !TYPE  */
/*-----------------------------------------------------------------------------------*/
* {
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color:#009ce7;
	font-family:Helvetica;
	font-weight:100;
}
h1 {
	font-size:33px;
	margin-bottom: 14px;
}
h2 {
	font-size: 21px;
	margin-bottom: 8px;
}
h3 {
	font-size: 18px;
	margin-bottom: 0;
}
p {
	font-size:14px;
	margin-bottom: 14px;
	line-height: 18px;
}
ul {
	list-style: disc;
	margin-left: 1.5em;
	margin-bottom: 14px;
}
ol {
	margin-left: 1.5em;
	margin-bottom: 14px;
}
li {
	font-size:14px;
	margin: 0;
	line-height: 18px;
}
a {
	text-decoration:none;
	font-family:helvetica;
	color:#009ce7;
}

h2.small { font-size: 14px !important;  line-height: 1.2 !important;}
h3.small { font-size: 12px !important;  line-height: 1.2 !important;}
p.small { font-size: 10px !important; line-height: 1.2 !important; }
.small li {
	font-size: 10px !important; line-height: 1.2 !important;
}
