/* !COLOURS  */

@white:#FFFFFF;
@black:#000000;
@d-blue:#001533;
@cyan:#009ce7;
@pale-blue:#ecf9ff;

/* !CSS RESETS */
/*-----------------------------------------------------------------------------------*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

/* !GLOBAL LAYOUT STYLES */
/*-----------------------------------------------------------------------------------*/

.left { float: left; }
.right { float: right; }
.noFloat { float: none; }
.clear { clear: both; }
.inactive { color: #999999; }
.inline { display: inline !important; width: auto !important; }
.autowidth { width: auto; }
.hidden { display: none; }
.centred { margin-left: auto; margin-right: auto; }

* {
	font-family: Helvetica, Arial, sans-serif;
}
html {
}
body {
	color:#444;
}
/* !TYPE  */
/*-----------------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	color:@cyan;
	font-family:Helvetica;
	font-weight:100;
}
h1 {
	font-size:33px;
	margin-bottom: 14px;
}
h2 {
	font-size: 21px;
	margin-bottom: 8px;
}
h3 {
	font-size: 18px;
	margin-bottom: 0;
}
p {
}
ul {
	list-style:none;	
}
li {
}
ol {
	margin-left: 1.5em;
	margin-bottom: 14px;
}
a {
	text-decoration:none;
	font-family:helvetica;
	color:@cyan;
}
a:hover {
	text-decoration: underline;
}

h2.small { font-size: 14px !important;  line-height: 1.2 !important;}
h3.small { font-size: 12px !important;  line-height: 1.2 !important;}
p.small { font-size: 10px !important; line-height: 1.2 !important; }
.small li {
	font-size: 10px !important; line-height: 1.2 !important;
}



/* !TEMPLATE  */
/*-----------------------------------------------------------------------------------*/
.colx2 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}
video { max-width: 100% }
.container{
	clear:both;
	width:95%;
	margin:0 auto;
	max-width:954px;
	min-width:300px;	
	}	
#wraper{
	min-height:100%;
	height:auto !important;
	height:100%;
	}

/* !HEADER  */
/*-----------------------------------------------------------------------------------*/

#logo{
	background:url('../images/PES-logo.png') no-repeat;
	width:311px;
	height:83px;
	float:left;
	margin: 24px 0 14px 0;
	display: block;
	text-indent: -20000px;
	overflow: hidden;
	}
#logo img { display: none; }
.header{
	background-color: @d-blue;
	padding: 20px 0 15px 0;
	
	}
.header .container{
	position: relative;
	}	
#banner{
	border:solid 1px transparent;
	}
	
#telephone{
	color:#ffffff;
	position:absolute;
	clear:both;
	top:50px;
	right:0;
	}
	
#telephone p{
	color:#FFF;
	font-size: 24px;
	}
#telephone a {
	color: inherit;
}
.socnet {
	position: absolute;
	right: 0;
	top: 0;
}
.socnet p span {
	float: left;
	color: @white;
	font-size: 21px;
	line-height: 32px;
}
.socnet .icon {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-left: 10px;
	text-indent: -2000px;
	background: url(../images/socnet.png) 0 0 no-repeat;
	overflow: hidden;
}
.socnet .icon.twitter {
	background-position: 0 0;
}
.socnet .icon.facebook {
	background-position: -32px 0;
}

/* !SLIDESHOW  */
/*-----------------------------------------------------------------------------------*/
#slideshow{
	width:100%;
	position:relative;
	overflow:hidden;
	clear:both;
	z-index:-1000;
	height: 167px;
	}
#slideshow .container {
	position: relative;
	height: 100%;
}
#slideshow img {
	display: block;
	width: 100%;
	height: auto;
}	

/* !NAV  */
/*-----------------------------------------------------------------------------------*/
.sec-nav{
	float:left;
	width: 17.4%;
	min-width:100px;
	background:@pale-blue url(../images/bg-sidebar.jpg) 100% 0 repeat-y;
	min-height:100%;
	display:block;
	padding-bottom: 100000px;
   	margin-bottom:  -100000px;
	}

.sec-nav .services_container >ul {
	padding: 28px 18px 20px 18px;
	color:#006797;
	}
.sec-nav li {
	position: relative;
}
.sec-nav .services_container>ul>li{
	font-size:12px;
	border-bottom:dotted 1px @d-blue;
	}
.sec-nav ul li a {
	display: block;
	padding:8px 0 6px 0;
	color: @d-blue;
}
.sec-nav ul li a:hover,
.sec-nav ul li.active > a{
	color: @cyan;
	text-decoration: none;
}

.sec-nav ul li a.arrow {
	display: block;
	padding: 0 !important;
	width: 11px;
	height: 10px;
	position: absolute;
	top: 12px;
	right: 9px;
	text-indent: -2000px;
	background: url(../images/navarrow.png) 0 0 no-repeat;
	-webkit-transition: 0.5s ease-out;
	   -moz-transition: 0.5s ease-out;
	     -o-transition: 0.5s ease-out;
	        transition: 0.5s ease-out;
}
.sec-nav ul li a.arrow:hover {
	background-color: transparent !important;
}
.sec-nav ul li a.arrow.contract {
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
	    -ms-transform: rotate(-180deg);
	     -o-transform: rotate(-180deg);
	        transform: rotate(-180deg); 	
}


/*Level 2*/
.sec-nav .services_container>ul>li>ul {
	display: none;
}
.sec-nav .services_container>ul>li.active>ul {
	display: block;
}
.sec-nav .services_container>ul>li>ul>li {
}
.sec-nav .services_container>ul>li>ul>li>a {
	padding-left: 1em;
}
.sec-nav .services_container ul>li>ul>li a:hover,
.sec-nav .services_container ul>li>ul>li.active > a{
	color:@cyan;
}

/*Level 3*/
.sec-nav .services_container>ul>li>ul>li>ul {
	display: none;
}
.sec-nav .services_container>ul>li>ul>li.active>ul {
	display: block;
}
.sec-nav .services_container>ul>li>ul>li>ul>li {
	font-size: 1em;
}
.sec-nav .services_container>ul>li>ul>li>ul>li>a {
	padding-left: 2em;
}
.sec-nav .services_container ul>li>ul>li>ul>li a:hover,
.sec-nav .services_container ul>li>ul>li>ul>li.active > a{
	background-color:#529fc1;
	color:#ffffff;
}

/* !CONTENT  */
/*-----------------------------------------------------------------------------------*/
#main{
	clear:both;
	position:relative;
	overflow:hidden;
	min-height: 600px;
	}
#service-logos{
	position: absolute;
	bottom: 10px;
	margin: 0 18px;
	}
#service-logos p {
	font-size: 11px;
	color: @cyan;
	margin-bottom: 10px;
}
#content{
	float: right;
	width:82.6%;
	padding-bottom: 10px;
	padding-top: 33px;
	}
	
.text{
	margin:0 4% 20px;
	float:left;
	width:71%;
	}
.text p,
.text li {
	font-size:14px;
	margin-bottom: 14px;
	line-height: 18px;
	}	
.text li {
	margin: 0;
}
.text ul {
	list-style: disc;
	margin-left: 1.5em;
	margin-bottom: 14px;
}
.sidebar {
	float:right;
	width: 21%;
	
}
.sidebar img {
	max-width: 100%;
}
.sec-slideshow{
	padding:21px 0px 0px 0px;
	}
.sec-slideshow img{
	margin-bottom: 2%;
	display: block;
	width: 100%;
	height: auto;
	}

/* !FORMS  */
/*-----------------------------------------------------------------------------------*/


/* !FOOTER */
/*-----------------------------------------------------------------------------------*/
#footer{
	background-color: @d-blue;
	position:relative;
	overflow:hidden;
	}
#footer ul{
	display:block;
	font-family:helvetica;
	font-size:12px;
	
	}
#footer ul a{
	color:#fff;
	text-decoration:none;
	}
#footer ul a:hover{
	text-decoration:underline;
	}
	
ul.foot-nav{
	display:block;
	float:left;
	margin:25px 25px 20px 20px;
	display:block;
	max-width: 300px;
	}
ul.foot-nav li {
	line-height: 1.4;
}
.quote {
	float:right;
	margin:20px 10px 0 10px;
	width: 50%;
	}
.quote p {
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	margin-bottom: 10px;
}
blockquote p {
		font-style:italic;

}
.quotation{
	display: inline-block;
	width: 26px;
	height: 18px;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -2000px;
	}
.quotation.open {
	background-image: url(../images/66.png);
}
.quotation.close {
	background-image: url(../images/99.png);
}		
		
.copy {
	margin: 0 20px 20px;
	color:#ffffff;
	clear:both;
	}	
.copy p {
	color: @white;
	font-size:12px;
	}
.copy .left, .copy .right {
	width: 50%;
}
.copy .right {
	text-align: right;
}
.quote p.quote-author {
	color: @cyan;
	font-size: 12px;
}
/* !CONTACT PAGE */
/*-----------------------------------------------------------------------------------*/

.contact-us #content {
	padding-top: 0;
}
.contact-form{
	background-color:@d-blue;
	color:@white;
	width:55%;
	float:left;
	padding:5px 0px 20px 0px;
	margin:13px 10px 10px 10px;
	}
.contact-form h1{
	margin-top: 15px;
	padding-left:20px;
	color:@white;
	border-bottom: 1px dotted @white;
	}	
.contact-form form{
	padding: 21px 38px 0px 25px;
	}
.contact-form label {
	line-height: 26px;
}
.security-code img{
	float:right;
	display:inline-block;
	}
.button{
	background-color: @cyan;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: @white;
    float: right;
    font-family: helvetica;
    margin: 5px 0 10px;
    padding: 2px 15px;
    cursor: pointer;
	}	
	
.email{
	float:left;
	width:30%;
	padding:41px 10px 20px 40px;
	}	
.email p, .email h2{
	color:@d-blue;
	}
.email h2{
	padding-bottom:20px;
	}
.email a{
	color:@cyan;
	}
/* !ALERTS
------------------------------------------------------------------------------*/
.contact-form .alert {
	margin: 0 5px 5px 5px;
	padding: 5px;
	overflow: hidden;
	border: 2px solid;
	background: #FFF;
}

.contact-form .alert.success {
 	border-color: #66cc33;
}
.contact-form .alert.error {
 	border-color: #ab0000;
}
.contact-form .alert p {
	font-size: 12px;
	margin: 0;
	color: #000;
	font-weight: bold;
}
/* !BLOG
------------------------------------------------------------------------------*/
.blog-post{
	
	width:60%;
	float:left;
	padding:0px 0px 20px 0px;
	margin:0 10px 10px 30px;
	}
.blog-post .post {
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}
.blog-post img{
	display:inline;
	max-width: 100%;
	margin: 5px 0;
	}
	
.blog-post h1{
	padding:0 0px 10px 0px;
	border-bottom: 1px dotted #2b7aa8;
	}
.blog-post h4 {
	font-size:14px;
	padding:5px 0;
	}
.blog-post p{
	font-size:14px;
	}	
	
.post-date{
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom:1px dotted gray;
}
.blog-image{
	float:left;
	margin-right:10px;
	}
	
.blog-category{
	padding:40px 0px 0 0;
	}
.read-more{
	color:#f67f1e;
	}
.blog-comment{
	color:#939393;
	font-size:14px;
	}
.blog-category ul{
	margin:10px 0px;
	font-size:16px;
	}
	
/* !WORDPRESS CLASSES  */
/*-----------------------------------------------------------------------------------*/

.alignright {
	float:right; 
	margin:0 0 10px 10px;
	margin:0 0 1rem 1rem;
}
.alignleft {
	float:left; 
	margin:0 10px 10px 0;
	margin:0 1rem 1rem 0;
}
.aligncenter {
	display: block; 
	margin-left: auto;
	margin-right: auto
}

/* !COMMENTS  */
/*-----------------------------------------------------------------------------------*/

#comments {
	clear: both;
	margin-top: 14px;
	border-top: 2px solid #4c4d4f;
	padding-top: 14px;

}
#comments h2,
#comments h3 {
	font-size: 14px;
	margin-bottom: 10px;

}
ol.commentlist,
ol.commentlist ol,
ol.commentlist ul {
	list-style: none outside;
}
ol.commentlist img.avatar {
	float: left;
	margin: 0 5px 0 0;

}
ol.commentlist p.commentMeta {
	margin-bottom: 5px;
	
}
ol.commentlist li {
	background: none;
	border-bottom: 1px dotted #4c4d4f;
}
ol.commentlist li:last-child {
	border-bottom: none;
}
ol.commentlist li ul.children {
	margin: 0 0 0 40px;

}
ol.commentlist li ul.children li {
	border-top: 1px dotted #4c4d4f;
	padding: 7px 0 0 0;

}
ol.commentlist li p {

}
ol.commentlist .reply {
	text-align: right;
	padding-bottom: 9px;
	font-size: 10px;

}
ol.commentlist li.depth-1 {
	border-bottom: 1px solid #4c4d4f;
	margin: 14px 0;

}
#commentform {
}
#commentform p {
	font-size: 12px;

}
#commentform fieldset {
	margin: 20px 0;
	border: none;

}
#commentform label {
	font-size: 12px;

}

#commentform fieldset input.textfield,
#commentform fieldset textarea {
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D0D0D0;
    color: #666666;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px;
    display: block;
    width: 96%;

}
#commentform fieldset input.textfield:focus,
#commentform fieldset textarea:focus {
	background: #FFF;
}
#commentform #submit {
	margin-top: 5px;
	float: none;
	clear: both;

}


@import 'responsive.less';